body {
    background-image: url(./img_tree_tranparent.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.dodger_blue {
    background-color: dodgerblue;
}

.medium_sea_green {
    color: mediumseagreen;
}

.border {
    border: 2px solid violet;

}

.tomato {
    background-color: #ff6347;
}

.image {
    background-image: url(./img_tree_tranparent.png);

}