.overline {
    text-decoration: overline;
}

.line-through {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;

}

.para a {
    text-decoration: none;
}

.ex1 {
    border: 3px soild yellow;
    outline-style: solid;
    outline-color: invert;
    outline-width: 6px;
}