.logo {
    border-radius: 6px;
    background-color: darkseagreen;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin: 0px;
    border: 100px;
    line-height: 5px;
}

.black {
    color: black;
}

ul {
    list-style-type: none;
}

ul li {
    border-radius: 3px;
    background: gray;
    margin: 5px;
    width: 200px;
}



li a:hover {
    background-size: 10px 200px;
}

li:hover {
    background-color: darkseagreen;
}

li a:link {
    text-decoration: none;
    color: black;
}