.logo {
    border-radius: 6px;
    background-color: darkseagreen;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin: 0px;
    border: 100px;
    line-height: 5px;
}

.black {
    color: black;
}

ul {
    list-style-type: none;
}

ul li {
    border-radius: 3px;
    background: gray;
    margin: 5px;
    width: 200px;
}

/* li 을 넣는ㄴ다면?*/

.stylesheet li:hover {
    background-color: darkseagreen;
}

ul li a:link {
    text-decoration: none;
    color: black;
}

/*start here*/
th {
    background-color: darkseagreen;
    color: white;
}

th,
td {
    text-align: left;
    height: 50px;

}

table {
    border-collapse: collapse;
    width: 50%;
}


tr:nth-child(even) {
    background-color: #f4f4f4;

}